*{
	margin: 0px;
}

#navbarNav{
	background-color: #e6e6ff;
	margin: 0px -40px 0px -40px;
}
.nav-item{
	border-bottom: solid black 1px;
}

h1{
	margin: 10px;
	padding: 10px;
	font-style: sans-serif;
}

h3{
	margin-top: 10px;
	margin-bottom: 20px;
}

.container .col-xs-12{
	background-color: #F1F1F1;
	margin: 0px, -10px 0px -10px;
}

